/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#result .nwp-column {
    min-width: 30%;
    display: inline-block;
}
.headers .nwp-column {
    font-weight: bold;
    font-size: 14px;
}
ul.headers {
    border-bottom: solid 2px #C9C9C9;
}
ul#sortable-list li {
    height: 30px;
    font-size: 14px;
}
ul#sortable-list {
    border-bottom: 1px solid #C9C9C9;
    margin-top: 0px;
}
ul.sorting-disabled li {
    color: grey;
}